{% extends 'base.html' %}

{% block content %}


<style>
    table, th, td {
        border: 1px solid black;
    }
</style>

<nav class="navbar navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand mb-0 h1">
            <h5>Nama: </h5>
            <p>{{nama}}</p>
        </a>
        <div class="d-flex" role="search">
            <button class="btn btn-outline-success">
                <a href="{% url 'wishlist:logout' %}">
                Logout
                </a>
            </button>
        </div>
        
    </div>
</nav>

<div>
    <form id="createwishlist" style="margin: 10px">
        {% csrf_token %}
        <p>Tambah Wishlist</p>
        <input type="text" style="width:200px" name="nama_barang"  class="form-control" placeholder="Nama barang" required="">
        <input type="number" style="width:200px" name="harga_barang"  class="form-control" placeholder="Harga barang" required="">
        <input type="text" style="width:200px" name="deskripsi"  class="form-control" placeholder="Deskripsi barang" required="">
    
        <input class="btn btn-lg btn-primary btn-block" type="submit" value="Submit">
    
    </form>
    
</div>

<table>
    <tr>
    <th>Nama Barang</th>
    <th>Harga Barang</th>
    <th>Deskripsi</th>
    </tr>
    {% comment %} Tambahkan data di bawah baris ini {% endcomment %}
    {% for barang in list_barang %}
        <tr>
            <td>{{barang.nama_barang}}</td>
            <td>{{barang.harga_barang}}</td>
            <td>{{barang.deskripsi}}</td>
        </tr>
    {% endfor %}    
</table>

<h5>Sesi terakhir login: {{ last_login }}</h5>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

<script>
    
</script>

{% endblock content %}